html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: white;
  background-size: cover;
}

header {
  height: 80px;
  line-height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0px 180px;
  left: 0;
  position: fixed;
  width: 100vw;
  background-image: linear-gradient(to right, #f4f9fe, #ffffff, #e9eaf4);
  z-index: 2;
  opacity: 0.95;
  /* border-bottom: 3px solid rgb(180, 157, 195); */
}

header p {
  font-size: 35px;
  letter-spacing: 0.1rem;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background: linear-gradient(45deg, #da9284 16%, #947edb 57%, #7fb2d2 90%);
  background: -webkit-linear-gradient(
    45deg,
    #da9284 16%,
    #947edb 57%,
    #7fb2d2 90%
  );
  background-size: 300% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientEffect 2.5s infinite alternate;
}

@keyframes gradientEffect {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
header ul {
  display: flex;
  width: 600px;
  justify-content: space-between;
}
header a {
  font-size: 16px;
  font-weight: bold;
}

header a {
  position: relative;

  /* display: inline-block; */
  /* margin-bottom: 20px; */
  padding-bottom: 6px;
  font-size: 25px;
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding-left: 3px;
  color: black;
  padding-left: 3px;
}

header a:hover::after {
  width: 100%;
}

header a::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: linear-gradient(to right, #da9284, #afa8c7, #9eb6c5);
  transition: all 0.35s ease 0s;
}
.firstview h7 {
font-size: 70px;
display: inline-block;
padding-top:400px;
font-weight: 100;
font-family: 'Shippori Mincho B1', serif;
color: white;
position: absolute;
letter-spacing: 0.2rem;
}

.text{
  vertical-align: middle;
}
.firstview {
  
  /* text-align: center; */
  background-image: url(images/texasimage.jpeg);
  background-size: cover;
  position: relative;
  min-height: 100vh;
  height: 900px;
  background-attachment: fixed; /*--背景画像の固定--*/
    background-repeat: no-repeat; /*--背景画像の繰り返し--*/
    background-position: center center;/*--背景画像の位置--*/
    height: 400px;　/*--スクロールをさせるため 高さ指定--*/
    z-index: 1;
    
}

.texastext{
  position: absolute;
  width: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.scrolldown4{
  /*描画位置※位置は適宜調整してください*/
position:absolute;
bottom:1%;
right:50%;
  /*矢印の動き1秒かけて永遠にループ*/
animation: arrowmove 1s ease-in-out infinite;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove{
    0%{bottom:1%;}
    50%{bottom:3%;}
    100%{bottom:1%;}
}

/*Scrollテキストの描写*/
.scrolldown4 span{
  /*描画位置*/
position: absolute;
left:-20px;
bottom:10px;
  /*テキストの形状*/
color: #eee;
font-size: 0.9rem;
letter-spacing: 0.05em;
/*縦書き設定*/
-ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* 矢印の描写 */
.scrolldown4:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  right: -6px;
  /*矢印の形状*/
  width: 1px;
  height: 20px;
  background: #eee;
  transform: skewX(-31deg);
}

.scrolldown4:after{
content:"";
  /*描画位置*/
position: absolute;
bottom:0;
right:0;
  /*矢印の形状*/
width:1px;
height: 50px;
background:#eee;
}

.texas{
  text-align: center;
  clear: both;
}

.texas h1{
margin-top: 50px;
font-family:  'Montserrat', sans-serif;
font-weight: 500;
letter-spacing: 0.2rem;
font-size: 50px;
}

.texas p{
  margin-top: 80px;
  font-family: 'Shippori Mincho B1', serif;
  font-size: 30px;
  line-height: 340%;
  letter-spacing: 0.1rem;
  margin-bottom: 50px;
}

.texas img{
  margin-top: 50px;
  width: 30%;
  border-radius: 20px;
}

.images{
display: flex;
justify-content: center;
margin-top: 50px;
}
.park ,.city{
  height: 530px;
  margin:50px;
  width: 700px;
}

.texas a{
text-decoration: none;
padding: 20px 100px;
border:  solid 2px black;
color: black;
border-radius: 100vh;
font-size: 20px;
letter-spacing: 0.1rem N;
font-family:  'Montserrat', sans-serif;
}

.texas a:hover{
background-color: black;
color: white;
transition: background-color 0.5s;
} 

.mapp{
  margin-top: 100px;
}

.about{
  margin-top: 280px;
}
.about2{
  margin-top: 200px;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
.text1{
  margin-top: 20px;
  padding: 0 10.33333% 0 10.33333%;
}
.about h1{
  margin-top: 50px;
  font-family:  'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 0.2rem;
  font-size: 50px;
  }

  .about h2{
    font-family: 'Shippori Mincho B1', serif;
    ;
    font-weight: 300;
    letter-spacing: 0.1rem;
    font-size: 35px;
    margin-top: 30px;
  }

  .about p{
    margin-top: 50px;
    font-family: 'Shippori Mincho B1', serif;
    font-size: 23px;
    line-height: 170%;
    letter-spacing: 0.1rem;
    margin-bottom: 50px;
  }
  
  .about img{
    width: 900px;
    height: 800px;
  }

  .place{
text-align: center;
margin-top: 250px;
  }

  .place h3{
    color:rgba(0,0,0,.0);
    -webkit-text-stroke: 1.5px black;
    font-family: 'Shippori Mincho B1', serif;
font-size: 70px;
  }

  .contents{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
  }

  .galveston img ,.courps img ,.sanantonio img{
width: 600px;
height: 700px;
  }
  
  .contents h4{
    font-size: 40px;
    font-family:  'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .contents h5{
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Shippori Mincho B1', serif;
font-weight: 200;
  }
  .contents p{
margin-top: 20px;
font-family: 'Shippori Mincho B1', serif;
font-size: 20px;
letter-spacing: 0.1rem;
line-height: 150%;
  }

  .map{
    text-align: center;
    margin-top: 200px;
    padding-top: 30px;
    padding-bottom: 500px;
    background-color: #efeaff;
  }

  .map h4{
    font-size: 70px;
    font-family:  'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 50px;
    letter-spacing: 0.1rem;
  }
  .map p{
    margin-top: 20px;
font-family: 'Shippori Mincho B1', serif;
font-size: 20px;
letter-spacing: 0.1rem;
line-height: 150%;
margin-bottom: 50px;
  }








  @media screen and (max-width:2050px){
   .texas p{
    font-size: 25px;
   }
    .about{
    text-align: center;

    }
    .text1{
      text-align: center;
    }
    .about2{
      
      padding-top: 30px;
      display: block;
      background-color: #e7ebf7;
    }
    .about h1{
      background-image: linear-gradient(to right, #da9284, #afa8c7, #9eb6c5);
	background-repeat: no-repeat;
	background-size: 100% 30%;
	background-position: bottom;
	transition: all 0.25s ease-in;
  display: inline-block;
    }
    .galveston img, .courps img, .sanantonio img{
      width: 400px;
      height: 500px;
    }
  }




  @media screen and (max-width:1400px){
    .texas p {
      font-size: 20px;
  }
  header {
    height: 80px;
    line-height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    left: 0;
    position: fixed;
    width: 100vw;
    background-image: linear-gradient(to right, #f4f9fe, #ffffff, #e9eaf4);
  
}
    .galveston img, .courps img, .sanantonio img{
      width: 300px;
      height: 400px;
    } 

    .contents p {
      margin-top: 20px;
      font-family: 'Shippori Mincho B1', serif;
      font-size: 15px;
      letter-spacing: 0.1rem;
      line-height: 150%;
  }

  .contents h4 {
    font-size: 35px;

}
.about img {
  width: 800px;
  height: 700px;
}
}





@media screen and (max-width:960px){
header{
  padding: 0px 10px;
}
header p{
  font-size: 25px;
}
header a{
  font-size: 22px;
}
header ul{
  justify-content: space-around;
}
  .galveston img, .courps img, .sanantonio img {
      width: 200px;
      height: 300px;
  }
  .contents h4 {
    font-size: 27px;}

    .contents h5 {
      margin-top: 10px;
      font-size: 22px;

  }
  .contents p {
    margin-top: 20px;

    font-size: 10px;
 
}
.texas p {
  font-size: 15px;
  padding: 0px 15px;
}
.texas a{
  padding: 10px 80px;
  font-size: 15px;
}
.texas img {
  margin-top: 50px;
  width: 280px;
  height: auto;
  border-radius: 20px;
}
.place h3 {

  font-size: 50px;
}
.map h4 {
  font-size: 50px;

}
.map p {
  
  font-size: 15px;
 
}
.about h2 {
 
  font-size: 25px;

}
.about p{
  font-size: 18px;
}
.about img{
  width: 600px;
  height: 500px;
}
}


@media screen and (max-width:540px){
  .texastext {

    width: 350px;
    
}
header{
height: 50px;
line-height: 50px;
}
header p {
  font-size: 15px;
}
header a {
  font-size: 14px;
}
  .about img {
    width: 350px;
    height: 300px;
}
.about h1{
  font-size: 30px;
}
.about h2{
  font-size: 18px;
  margin-top: 25px;

}
.about p{
  font-size: 13px;
  margin-top: 20px;
}
.galveston img, .courps img, .sanantonio img {
  width: 300px;
  height: 300px;
}
.galveston, .courps, .sanantonio{
  margin: 30px 0px;
}
.images {
  display: block;
 
  margin-top: 50px;
}
.texas h1{
  font-size: 30px;
}
.texas p{
  font-size: 13px;
}
.park, .city {

  margin: 25px;

}
.contents{
  display: flex;
  flex-direction: column;
}
.place h3 {
  font-size: 30px;
}
.map h4 {
  font-size: 30px;
}
.map p {
  font-size: 10px;
  padding: 5px;
}
iframe{
  width: 350px;
  height: 520px;
}
#splash_logo img {
  width:340px;
}

}